<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Ng-slider : AngularJS slider control directive" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/prism.css">
    <link rel="stylesheet" type="text/css" media="screen" href="javascripts/css/ng-slider.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-mocks.js"></script>
    <script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>

    
    <script type="text/javascript" src="javascripts/core/ng-slider.js"></script>
    <script type="text/javascript" src="javascripts/core/config/constants.js"></script>
    <script type="text/javascript" src="javascripts/core/utils/utils.factory.js"></script>
    <script type="text/javascript" src="javascripts/core/model/draggable.factory.js"></script>
    <script type="text/javascript" src="javascripts/core/model/pointer.factory.js"></script>
    <script type="text/javascript" src="javascripts/core/model/slider.factory.js"></script>

    <script type="text/javascript" src="javascripts/core/template/slider.tmpl.js"></script>
    


    <script type="text/javascript" src="javascripts/prism.js"></script>


    <title>Ng-slider</title>
  </head>

  <body>

   <div class="wrapper"> 

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header>

          <h1 id="project_title">Ng-slider</h1>
          <p>AngularJS slider control directive</p>
          <ul>
           <li>
              <a href="https://github.com/darul75/ng-slider/zipball/master">Download <strong>Zip File</strong></a>
           </li>
           <li>   
              <a href="https://github.com/darul75/ng-slider/tarball/master">Download <strong>Tar ball</strong></a>
           </li>
           <li>   
              <a id="forkme_banner" href="https://github.com/darul75/ng-slider">View on <strong>GitHub</strong></a>
           </li>
          </ul> 
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome</h3>

Just play a little bit

<div ng-app="myApp" ng-controller="ctrl">
  <h2>Single value</h2>
  <div>
    <input ng-model="value"  type="text" id="mySlider1" slider options="options" />
  </div>
  <div>
    <p>Current value is: {{value}}</p>
  </div>
  <h3>Code</h3>  
  <div class="language-markup">
    <pre><code>&lt;!DOCTYPE html>
&lt;html>
&lt;head>
  ...</code>
  <code class="highlight">&lt;link href="css/ng-slider.min.css" rel="stylesheet" /></code>
  <code class="highlight">&lt;script type="javascripts/javascript" src="angular.min.js" /></code>
  <code class="highlight">&lt;script type="javascripts/javascript" src="ng-slider.min.js" /></code>
<code>&lt;/head>
&lt;body>
  ...</code>
  <code>&lt;div>
    &lt;input ng-model="value"  type="text" id="mySlider1" slider options="options" />
  &lt;/div>
  </code>
  <code class="highlight">&lt;script>
    function ctrl($scope) {
      $scope.value = "50";
      $scope.options = {       
        from: 1,
        to: 100,
        step: 1,
        dimension: " km"        
      };
    }   
  &lt;/script>
  </code>    
<code>&lt;/body>
&lt;/html></code></pre>
  </div>
  </br>
  </br>
  <h2>Single value with scale</h2>
  <div>
    <input ng-model="value2"  type="text" id="mySlider2" slider options="options2" />
  </div>
  <div>
  </br>
    <p>Current value is: {{value2}}</p>
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "50";
  $scope.options = {       
    from: 1,
    to: 100,
    step: 1,
    dimension: " km",
    scale: [0, '|', 50, '|' , 100]        
  };
}</code></pre>
  </div>
  </br>
  </br>
  <h2>Double value</h2>
  <div>
    <input ng-model="value3"  type="text" id="mySlider3" slider options="options3" />
  </div>
  <div>
    Current value is: {{value3}}
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "10;15";
  $scope.options = {       
    from: 0,
    to: 40,
    step: 1,
    dimension: " $"       
  };
}</code></pre>
  </br>
  </br>  
  <h2>Double value with scale</h2>
  <div>
    <input ng-model="value4"  type="text" id="mySlider4" slider options="options4" />
  </div>
  <div>
  </br>
    <p>Current value is: {{value4}}</p>
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "10;15";
  $scope.options = {       
    from: 0,
    to: 40,
    step: 1,
    dimension: " $",
    scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40]       
  };
}</code></pre>
  </div>
  </br>
  </br>
  <h2>Vertical double value with scale</h2>
  <div style="position:relative;height:300px;left:50px">
    <input ng-model="valueV1"  type="text" id="mySliderV4" slider options="optionsV4" />
  </div>
  <div>
  </br>
    <p>Current value is: {{valueV1}}</p>
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "10;15";
  $scope.options = {       
    from: 0,
    to: 40,
    step: 1,
    dimension: " $",
    scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40],
    vertical: true       
  };
}</code></pre>
  </br>
  </br>
</div>


  <script type="text/javascript"> 

    var app = angular.module('myApp', ['ngSlider']);        

    function ctrl($scope, $filter) {      
      $scope.value = "50";
      $scope.value2 = "30";
      $scope.value3 = "10;15";      
      $scope.value4 = "10;15";
      $scope.valueV1 = "10;15";

      $scope.options = {       
        from: 1,
        to: 100,
        step: 1,
        dimension: " km"        
      };

      $scope.options2 = {       
        from: 1,
        to: 100,
        step: 1,
        dimension: " km",
        scale: [0, '|', 50, '|' , 100]
      };

      $scope.options3 = {        
        from: 0,
        to: 40,
        step: 1,
        dimension: " $"
      };

      $scope.options4 = {        
        from: 0,
        to: 40,
        step: 1,
        dimension: " $",
        scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40]      
      };

      $scope.optionsV4 = {        
        from: 0,
        to: 40,
        step: 1,
        dimension: " $",
        scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40],
        vertical: true      
      };

      $scope.$watch('value', function(value) {
          //console.log(value);
      });   
    }

  </script>

  <script>
  
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-45895157-3', 'darul75.github.io');
    ga('send', 'pageview');

  </script>

   </div>
  </div> 

</div>
   <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer>
        <p class="copyright">Ng-slider maintained by <a href="https://github.com/darul75">darul75</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a> — Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </footer>
    </div>       
  </body>
</html>
