<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Ng-slider : AngularJS slider control directive" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/prism.css">
    <link rel="stylesheet" type="text/css" media="screen" href="javascripts/css/ng-slider.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-mocks.js"></script>
    <script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="javascripts/ng-slider.min.js"></script>
    <script type="text/javascript" src="javascripts/prism.js"></script>


    <title>Ng-slider</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/darul75/ng-slider">View on GitHub</a>

          <h1 id="project_title">Ng-slider</h1>
          <h2 id="project_tagline">AngularJS slider control directive</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/darul75/ng-slider/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/darul75/ng-slider/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome</h3>

Just play a little bit

<div ng-app="myApp" ng-controller="ctrl">
  <h2>Single value</h2>
  <div>
    <input ng-model="value"  type="text" id="mySlider1" slider options="options" />
  </div>
  <div>
    Current value is: {{value}}
  </div>
  <h3>Code</h3>  
  <div class="language-markup">
    <pre><code>&lt;!DOCTYPE html>
  &lt;html>
  &lt;head>
    ...</code>
    <code class="highlight">&lt;link href="css/ng-slider.min.css" rel="stylesheet" /></code>
    <code class="highlight">&lt;script type="javascripts/javascript" src="angular.min.js" /></code>
    <code class="highlight">&lt;script type="javascripts/javascript" src="ng-slider.min.js" /></code>
  <code>&lt;/head>
  &lt;body>
    ...</code>
    <code>&lt;div>
      &lt;input ng-model="value"  type="text" id="mySlider1" slider options="options" />
    &lt;/div>
    </code>
    <code class="highlight">&lt;script>
      function ctrl($scope) {
        $scope.value = "50";
        $scope.options = {       
          from: 1,
          to: 100,
          step: 1,
          dimension: " km"        
        };
      }   
    &lt;/script>
    </code>    
  <code>&lt;/body>
  &lt;/html></code></pre>
  </div>
  </br>
  </br>
  <h2>Single value with scale</h2>
  <div>
    <input ng-model="value2"  type="text" id="mySlider2" slider options="options2" />
  </div>
  <div>
    Current value is: {{value2}}
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "50";
  $scope.options = {       
    from: 1,
    to: 100,
    step: 1,
    dimension: " km",
    scale: [0, '|', 50, '|' , 100]        
  };
}</code></pre>
  </div>
  </br>
  </br>
  <h2>Double value</h2>
  <div>
    <input ng-model="value3"  type="text" id="mySlider3" slider options="options3" />
  </div>
  <div>
    Current value is: {{value3}}
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "10;15";
  $scope.options = {       
    from: 0,
    to: 40,
    step: 1,
    dimension: " $"       
  };
}</code></pre>
  </br>
  </br>  
  <h2>Double value with scale</h2>
  <div>
    <input ng-model="value4"  type="text" id="mySlider4" slider options="options4" />
  </div>
  <div>
    Current value is: {{value4}}
  </div>
  <h3>Code</h3>  
  <div>
    <pre><code class="language-javascript">function ctrl($scope) {
  $scope.value = "10;15";
  $scope.options = {       
    from: 0,
    to: 40,
    step: 1,
    dimension: " $",
    scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40]       
  };
}</code></pre>
  </br>
  </br>
</div>

<h2>Donate</h2>
<div>
  <script data-gittip-username="darul75"
    data-gittip-widget="button"
    src="//gttp.co/v1.js"></script>
</div>

<!-- Place this html code where you want the widget -->
<div class="bitcoin-button" data-address="http://blockchain.info/address/1P5RFdAgWpPgCUHYEBw9GZADbrqQ2DpXEQ" data-info="received" data-message="Leave a tip to support my work!"></div>

</br>

  <!-- Place this snippet somewhere after the last button -->
  <script type="text/javascript">
  var bitcoinwidget_init = { autoload: true, host: "//bitcoinwidget.appspot.com" };
  (function() {
  var x = document.createElement("script"); x.type="text/javascript"; x.async=true;
  x.src = "//bitcoinwidget.appspot.com/js/bitcoinwidget.js";
  var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(x,s);
  })();
  </script>

  <script type="text/javascript"> 

    var app = angular.module('myApp', ['ngSlider']);        

    function ctrl($scope, $filter) {      
      $scope.value = "50";
      $scope.value2 = "30";
      $scope.value3 = "10;15";      
      $scope.value4 = "10;15";

      $scope.options = {       
        from: 1,
        to: 100,
        step: 1,
        dimension: " km"        
      };

      $scope.options2 = {       
        from: 1,
        to: 100,
        step: 1,
        dimension: " km",
        scale: [0, '|', 50, '|' , 100]
      };

      $scope.options3 = {        
        from: 0,
        to: 40,
        step: 1,
        dimension: " $"
      };

      $scope.options4 = {        
        from: 0,
        to: 40,
        step: 1,
        dimension: " $",
        scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40]      
      };

      $scope.$watch('value', function(value) {
          //console.log(value);
      });   
    }

  </script>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Ng-slider maintained by <a href="https://github.com/darul75">darul75</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("ng-slider");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
