.jslider {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 1em;
  position: relative;
  top: 0.6em;
  font-family: Arial, sans-serif;
  /*.jslider_round.sliderCSS .jslider-bg i,
.jslider_round.sliderCSS .jslider-pointer { background: none; }*/

  /*.jslider_round.sliderCSS .jslider-pointer { z-index: 3; background-color: #615959; width: 10px; height: 10px; border-radius: 50%; top: -3px;}*/

  /*.jslider_round.sliderCSS .jslider-bg i,
.jslider_round.sliderCSS .jslider-pointer { background: none; }*/

  /*.jslider_round.sliderCSS .jslider-pointer { z-index: 3; background-color: #615959; width: 10px; height: 10px; border-radius: 50%; top: -3px;}*/

  /*.jslider_round.sliderCSS .jslider-bg i,
.jslider_round.sliderCSS .jslider-pointer { background: none; }*/

  /*.jslider_round.sliderCSS .jslider-pointer { z-index: 3; background-color: #615959; width: 10px; height: 10px; border-radius: 50%; top: -3px;}*/

}
.jslider.disabled {
  opacity: 0.5;
}
.jslider table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
.jslider table td,
.jslider table th {
  width: 100%;
  border: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.jslider .jslider-bg i,
.jslider .jslider-pointer {
  background: url(../img/jslider.png) no-repeat 0 0;
}
.jslider .jslider-bg {
  position: relative;
}
.jslider .jslider-bg i {
  height: 5px;
  position: absolute;
  font-size: 0;
  top: 0;
}
.jslider .jslider-bg .l {
  width: 50%;
  background-position: 0 0;
  left: 0;
}
.jslider .jslider-bg .r {
  width: 50%;
  left: 50%;
  background-position: right 0;
}
.jslider .jslider-bg .v {
  z-index: 1;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 0;
  height: 5px;
  background-repeat: repeat-x;
  background-position: 0 -40px;
}
.jslider .jslider-bg .s {
  z-index: 1;
  left: 0;
  width: 1px;
  background-color: #185F83;
}
.jslider .jslider-single .jslider-pointer-to,
.jslider .jslider-single .jslider-value-to,
.jslider .jslider-single .jslider-bg .v,
.jslider .jslider-limitless .jslider-label {
  display: none;
}
.jslider .jslider-pointer {
  z-index: 2;
  width: 15px;
  height: 15px;
  background-position: 2px -60px;
  position: absolute;
  left: 20%;
  top: -4px;
  margin-left: -8px;
  cursor: pointer;
  cursor: hand;
}
.jslider .jslider-pointer-to {
  left: 80%;
}
.jslider .jslider-pointer-hover {
  background-position: -19px -60px;
}
.jslider .jslider-label small,
.jslider .jslider-value small {
  position: relative;
  top: -0.4em;
}
.jslider .jslider-label {
  font-size: 9px;
  line-height: 12px;
  color: black;
  opacity: 0.4;
  white-space: nowrap;
  padding: 0px 2px;
  position: absolute;
  top: -18px;
  left: 0px;
}
.jslider .jslider-label-to {
  left: auto;
  right: 0;
}
.jslider .jslider-value {
  left: 0;
  font-size: 9px;
  white-space: nowrap;
  padding: 1px 2px 0;
  position: absolute;
  top: -19px;
  background: white;
  line-height: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.jslider .jslider-value-to {
  left: 80%;
}
.jslider .jslider-scale {
  position: relative;
  top: 9px;
}
.jslider .jslider-scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}
.jslider .jslider-scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 5px;
  color: #999;
}
.jslider.sliderCSS .jslider-bg .l {
  width: 100%;
  left: 0;
  background-color: silver;
  background-image: none;
}
.jslider.sliderCSS .jslider-bg .p {
  left: 0;
  width: 1px;
  background-color: transparent;
  background-image: none;
}
.jslider.sliderCSS .jslider-bg .s {
  z-index: 1;
  left: 0;
  width: 1px;
  background-color: transparent;
  background-image: none;
}
.jslider.sliderCSS .jslider-bg .f {
  left: 0;
  background-color: transparent;
  background-image: none;
}
.jslider.sliderCSS .jslider-bg .v {
  z-index: 1;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 0;
  height: 5px;
  background-image: none;
  background-color: #777575;
}
.jslider.sliderCSS .jslider-pointer {
  background-color: silver;
}
.jslider.vertical {
  display: block;
  width: 17px;
  height: 100%;
  position: relative;
  top: 0.6em;
  font-family: Arial, sans-serif;
}
.jslider.vertical table {
  height: 100%;
}
.jslider.vertical.sliderCSS .jslider-bg i,
.jslider.vertical.jslider-pointer {
  background-color: silver;
  background-image: none;
}
.jslider.vertical .jslider-bg i,
.jslider.vertical .jslider-pointer {
  background: url(../img/jslider.vertical.png) no-repeat 0 0;
}
.jslider.vertical .jslider-bg {
  position: relative;
  height: 100%;
}
.jslider.vertical .jslider-bg i {
  width: 5px;
  position: absolute;
  font-size: 0;
  top: 0;
}
.jslider.vertical .jslider-bg .p {
  background: none;
}
.jslider.vertical .jslider-bg .l {
  height: 50%;
  top: 0;
  left: 12px;
  background-position: right 0;
  background-repeat: repeat-y;
}
.jslider.vertical .jslider-bg .r {
  height: 50%;
  top: 50%;
  left: 12px;
  background-position: right 0;
  background-repeat: repeat-y;
}
.jslider.vertical .jslider-bg .v {
  z-index: 1;
  position: absolute;
  width: 60%;
  left: 12px;
  top: 0;
  height: 100%;
  background-repeat: repeat-y;
  background-position: -36px 0px;
}
.jslider.vertical .jslider-bg .s {
  width: 5px;
  z-index: 1;
  left: 12px;
  height: 1px;
  background-color: #185F83;
}
.jslider.vertical .jslider-pointer {
  left: 62%;
  background-position: -5px -1px;
}
.jslider.vertical .jslider-pointer.jslider-pointer-hover {
  background-position: -5px -21px;
}
.jslider.vertical .jslider-pointer-to {
  left: 62%;
}
.jslider.vertical .jslider-pointer-to.jslider-pointer-hover {
  background-position: -5px -21px;
}
.jslider.vertical .jslider-label {
  margin-left: 22px;
  top: -5px;
}
.jslider.vertical .jslider-label-to {
  margin-top: -5px;
  top: 100%;
  left: inherit;
  right: inherit;
}
.jslider.vertical .jslider-value {
  left: 0;
  top: 0;
}
.jslider.vertical .jslider-value-to {
  left: 0;
  top: 80%;
}
.jslider.vertical .jslider-scale {
  position: inherit;
}
.jslider.vertical .jslider-scale span {
  position: absolute;
  width: 5px;
  height: 1px;
  border-left: none;
  font-size: 0;
  border-top: 1px solid #999;
}
.jslider.vertical .jslider-scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 5px;
  color: #999;
}
.jslider.vertical.sliderCSS .jslider-bg .l {
  width: 5px;
  height: 50%;
  top: 0;
  background-color: silver;
  background-image: none;
}
.jslider.vertical.sliderCSS .jslider-bg .r {
  width: 5px;
  height: 50%;
  top: 50%;
  background-color: silver;
  background-image: none;
}
.jslider.vertical.sliderCSS .jslider-bg .v {
  z-index: 1;
  width: 5px;
  height: 100%;
  background-color: #777575;
  background-image: none;
}
.jslider.vertical.sliderCSS .jslider-bg .p {
  left: 12px;
  width: 5px;
  background-color: transparent;
  background-image: none;
}
.jslider.vertical.sliderCSS .jslider-bg .s {
  left: 12px;
  width: 5px;
  background-color: transparent;
  background-image: none;
  z-index: 2;
  height: 1px;
}
.jslider.vertical.sliderCSS .jslider-bg .f {
  left: 12px;
  background-color: transparent;
  background-image: none;
}
.jslider.jslider_round .jslider-bg i,
.jslider.jslider_round .jslider-pointer {
  background: url(../img/jslider.round.png) no-repeat 0 0;
}
.jslider.jslider_round .jslider-bg i {
  background-position: 2px -20px;
}
.jslider.jslider_round .jslider-pointer {
  z-index: 2;
  width: 20px;
  height: 17px;
  top: -6px;
  background-position: 0 -60px;
}
.jslider.jslider_round .jslider-bg .v {
  z-index: 1;
  background-position: 0 -40px;
}
.jslider.jslider_round.vertical .jslider-bg i,
.jslider.jslider_round.vertical .jslider-pointer {
  background: url(../img/jslider.round.vertical.png) no-repeat 0 0;
}
.jslider.jslider_round.vertical .jslider-bg i {
  background-position: right 0;
}
.jslider.jslider_round.vertical .jslider-bg .v {
  background-position: -35px 0;
}
.jslider.jslider_round.vertical .jslider-bg .p,
.jslider.jslider_round.vertical .jslider-bg .f {
  background: none;
}
.jslider.jslider_round.vertical .jslider-pointer {
  top: -6px;
  margin-left: -6px;
  width: 20px;
  height: 17px;
  background-position: -2px -3px;
}
.jslider.jslider_round.vertical.sliderCSS .jslider-bg i,
.jslider.jslider_round.vertical.sliderCSS .jslider-pointer {
  background: none;
}
.jslider.jslider_round.vertical.sliderCSS .jslider-pointer {
  left: 15px;
  background-color: #615959;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.jslider.jslider_blue .jslider-bg i,
.jslider.jslider_blue .jslider-pointer {
  background: url(../img/jslider.blue.png) no-repeat 0 0;
}
.jslider.jslider_blue .jslider-bg i {
  background-position: 2px -20px;
}
.jslider.jslider_blue .jslider-pointer {
  z-index: 2;
  width: 20px;
  height: 17px;
  top: -6px;
  background-position: 2px -60px;
}
.jslider.jslider_blue .jslider-bg .v {
  z-index: 1;
  background-position: 0 -40px;
}
.jslider.jslider_blue.vertical .jslider-bg i,
.jslider.jslider_blue.vertical .jslider-pointer {
  width: 20px;
  height: 17px;
  top: -6px;
  margin-left: -6px;
  background: url(../img/jslider.round.vertical.png) no-repeat 0 0;
}
.jslider.jslider_blue.vertical.sliderCSS .jslider-bg i,
.jslider.jslider_blue.vertical.sliderCSS .jslider-pointer {
  background: none;
}
.jslider.jslider_blue.vertical.sliderCSS .jslider-pointer {
  left: 15px;
  background-color: #615959;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.jslider.jslider_plastic .jslider-bg i,
.jslider.jslider_plastic .jslider-pointer {
  background: url(../img/jslider.plastic.png) no-repeat 0 0;
}
.jslider.jslider_plastic .jslider-bg i {
  background-position: 2px -20px;
}
.jslider.jslider_plastic .jslider-pointer {
  z-index: 2;
  width: 20px;
  height: 17px;
  top: -6px;
  background-position: 2px -60px;
}
.jslider.jslider_plastic .jslider-bg .v {
  z-index: 1;
  background-position: 0 -40px;
}
.jslider.jslider_plastic.vertical .jslider-bg i,
.jslider.jslider_plastic.vertical .jslider-pointer {
  background: url(../img/jslider.plastic.vertical.png) no-repeat 0 0;
}
.jslider.jslider_plastic.vertical .jslider-bg i {
  background-position: right 0;
}
.jslider.jslider_plastic.vertical .jslider-bg .v {
  background-position: -35px 0;
}
.jslider.jslider_plastic.vertical .jslider-bg .p,
.jslider.jslider_plastic.vertical .jslider-bg .f {
  background: none;
}
.jslider.jslider_plastic.vertical .jslider-pointer {
  top: -6px;
  margin-left: -6px;
  width: 20px;
  height: 17px;
  background-position: -5px -1px;
}
.jslider.jslider_plastic.vertical.sliderCSS .jslider-bg i,
.jslider.jslider_plastic.vertical.sliderCSS .jslider-pointer {
  background: none;
}
.jslider.jslider_plastic.vertical.sliderCSS .jslider-pointer {
  left: 15px;
  background-color: #615959;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
